
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoFlex.ttf') format('woff2 supports variations');
  src: url('/fonts/RobotoFlex.ttf') format('woff2');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

body {
  font-family: 'Roboto', monospace;
}

@media print {
  body {
    visibility: hidden;
  }
  .main {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.italic {
  font-variation-settings: 'ital' 1;
}

.slanted {
    font-variation-settings: 'slnt' -10;
}
