---
import { portfolioJSON } from "../consts";
---
<div class="avatar flex">
  <div class="w-full max-w-[150px] rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 mx-auto mb-2">
    <img src={portfolioJSON?.basics.image} />
  </div>
</div>
