---
import { portfolioJSON } from "../consts";

---

<h1 class="name text-4xl font-bold tracking-wide text-center leading-normal">{portfolioJSON.basics?.name}</h1>
<style>
.name {
  font-variation-settings: 'opsz' 50;
}
</style>
